#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.pilt {
  width: 200px;
  border-radius: 10px;
}

.pilt:hover {
  cursor: pointer;
  opacity: 70%;
}

.pilt:active {
  transform: scale(90%);
}

.nupp {
  animation: blinker is linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 60%;
  }
}

.tekst {
  color: brown;
  font-weight: bold;
}

.blue {
  background-color: blue;
}

.valitud {
  color: rgb(227 6 140);
  border-color: rgb(227 6 140);
}

.valitud-linn {
  /* color: rgb(227 6 140); */
  text-decoration: underline;
}

.valitud-keel {
  font-weight: bold;
}

.dark {
  background-color: black;
  color: white;
  min-height: 100vh;
/* minimaalne kõrgus on 100% vaate kõrgust (view height) */
}

.light {
  background-color: white;
  color: black;
  min-height: 100vh;
  }

  .light button,
  .light .vali-summa{
    background-color: white;
    color: black;
  }

  .ikoon {
    width: 20px;
    height: 20px;
  }

  .menu {
    display: flex;
  }
 
  .theme-buttons {
    float: left;
  }

  .summa-buttons {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    margin: 0 20%;
    gap: 5px

  }
  /* margin: esimene väärtus on üles-alla, tene väärtus on vasakule ja paremale */

  .summa-buttons button {
    height: 70px;
  }

  .vali-summa {
    display: flex;
    place-items: center;
  }
  table {
    margin: auto;
  }

  th, td {
    border: 1px solid black
  }

  .inactive {
    background-color: red;
  }

  .toote-pilt {
    height: 100px;
    width: 100px;

  }

  .pilt-mitteaktiivne {
    width: 100px;
    height: 100px;
    /* filter: grayscale(100%);  */
    opacity: 20%;
  }

  .lang {
    width: 30px;
    height: 30px;
  }

  .lang:hover {
    opacity: 70%;
    cursor: pointer
  }

  .lang:active {
    padding: 1px;
  }

  .kaart {
    height: 300px;
    border-radius: 10px;
    margin: 30px 10%;
  }

  .leaflet-marker-icon:hover {
    opacity: 50%;
  }