#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.pilt {
  width: 200px;
  border-radius: 10px;
}

.pilt:hover {
  cursor: pointer;
  opacity: 70%;
}

.pilt:active {
  transform: scale(90%);
}

.nupp {
  animation: blinker is linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 60%;
  }
}

.tekst {
  color: brown;
  font-weight: bold;
}

.blue {
  background-color: blue;
}

.valitud {
  color: rgb(227 6 140);
  border-color: rgb(227 6 140);
}

.valitud-linn {
  /* color: rgb(227 6 140); */
  text-decoration: underline;
}